<div class=container>
  <header class="header flex">
    <div>
      <button mat-button class="header__button">Lorem 1</button>
    </div>
    <div>
      <button mat-button class="header__button">Lorem 2</button>
    </div>
    <div>
      <button mat-button class="header__button">Lorem 3</button>
    </div>
    <div>
      <button mat-button class="header__button">Lorem 4</button>
    </div>
  </header>
  <main>
    <div class="flex flex-column">
      <div class="box">
        <div class="title">Amount?</div>
        <mat-form-field class="flex">
          <input [(ngModel)]="inputValue" matInput type="number" step="10" min="0">
          <button mat-button class="box__plus" matSuffix (click)="plusAmount()">+</button>
          <button mat-button class="box__minus" matSuffix (click)="minusAmount()">-</button>
        </mat-form-field>
      </div>
      <div class="box">
        <div class="title">Currency?</div>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix>search</mat-icon>
            <input type="text"
                   aria-label="Number"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <div class="option__label-box">
                <mat-label>Lorem ipsum dolor sit amet consectetur adipisicing elit</mat-label>
                <mat-label>
                  <div class="option__label-line"></div>
                </mat-label>
              </div>
              <mat-option *ngFor="let option of filteredOptions | async"
                          [value]="option.viewValue + ' ' + (option.APR | percent)">
                <div class="flex flex-align-center justify-center">
                  {{option.viewValue}}
                  <div class="currency__APR">
                    {{option.APR | percent}}
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="box">
      <div class="title">Period?</div>
      <mat-form-field>
        <!--        <mat-label>Period</mat-label>-->
        <mat-select>
          <mat-option
            *ngFor="let per of period"
            [value]="per.perValue"
          >
            {{per.timePeriod}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </main>
  <div class="tooltip-box flex flex-align-center">
    <div>Lorem ipsum</div>
    <div class="flex flex-align-center">
      <mat-icon
        matTooltip="Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cumque animi mollitia ipsam quae fuga voluptatibus aut quia autem nulla corrupti suscipit quam, rem"
        matTooltipPosition="above"
        matTooltipClass="my-custom-tooltip"
        class="info-button">info
      </mat-icon>
    </div>
    <div>
      <mat-slide-toggle class="mat-slide-toggle"></mat-slide-toggle>
    </div>
    <div class="">Lorem ipsum dolor sit</div>
    <div class="flex flex-align-center">
      <mat-icon
        matTooltip="Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cumque animi mollitia ipsam quae fuga voluptatibus aut quia autem nulla corrupti suscipit quam, rem"
        matTooltipPosition="above"
        matTooltipClass="my-custom-tooltip"
        class="info-button">info
      </mat-icon>
    </div>
  </div>
</div>
