button {
  border: none;
  background: none;
  cursor: pointer;
}

.header {
  margin: 0 0 20px 0;
}

.header__button {
  margin-right: 30px;
  padding: 0;
}

button:hover {
  border-bottom: 2px solid #56C6AD;
  max-width: 100px;
}


.box {
  margin: 14px 0;
}

.title {
  margin-bottom: 12px;
}

.box__select-currency {
  min-width: 547px;
  height: 50px;
  background: #F4F5F6;
  border: none;
  padding: 0;
}

.box__select-period {
  width: 547px;
  height: 50px;
  background: #F4F5F6;
  border: none;
  padding: 0;
}

input {
  width: 547px;
  height: 50px;
}


input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.info {
  margin: 0 10px;
  cursor: pointer;
}

.bottom-container {
  margin-left: 20px;
}

::ng-deep {
  .no-hover-effect.mat-button.mat-primary .mat-button-focus-overlay,
  .no-hover-effect.mat-button.mat-accent .mat-button-focus-overlay,
  .no-hover-effect.mat-button.mat-warn .mat-button-focus-overlay {
    background: none !important;
  }

  .mat-mdc-button {
    border-radius: 0 !important;
  }

  .mat-mdc-button .mat-mdc-button-persistent-ripple::before, .mat-mdc-unelevated-button .mat-mdc-button-persistent-ripple::before, .mat-mdc-raised-button .mat-mdc-button-persistent-ripple::before, .mat-mdc-outlined-button .mat-mdc-button-persistent-ripple::before {
    background: none !important;
  }

  .mdc-text-field {
    border-radius: 0 !important;
  }

  .mat-mdc-button, .mat-mdc-outlined-button {
    --mat-mdc-button-ripple-color: none !important;
  }

  .mat-mdc-slide-toggle .mdc-switch {
    width: 62px !important;
    margin-right: 15px;
  }

  .mat-mdc-slide-toggle .mdc-switch .mdc-switch__track {
    height: 32px !important;
    border-radius: 50px !important;
  }

  .mat-mdc-slide-toggle .mdc-switch .mdc-switch__ripple {
    height: 0 !important;
    width: 0 !important;
  }

  .mdc-text-field__input {
    width: 100% !important;
  }

  .mdc-text-field .mdc-text-field__input {
    caret-color: #56C6AD;
  }

  .mdc-switch--selected .mdc-switch__handle-track {
    transform: translateX(80%) !important;
  }

  .mdc-switch__handle-track {
    transform: translateX(20%) !important;
  }

  .mdc-switch__icons {
    display: none;
  }

  .mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after {
    background: #E0F3EF !important;
  }

  .mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
    background: #56C6AD !important;
  }

  .mdc-tooltip--shown .mdc-tooltip__surface-animation {
    padding: 10px 15px !important;
    min-width: 350px !important;
    background: rgba(40, 47, 44, 0.97) !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    width: 547px;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border: none;
  }

  ::-webkit-scrollbar {
    width: 15px;


  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #DEF1ED;

  }


  ::-webkit-scrollbar-thumb {
    background: #56C6AD;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #56C6AD;
  }

  .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: #56C6AD;
  }

  .mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
    color: #56C6AD;
  }

  .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #56C6AD;
  }

  .mdc-button {
    min-width: 20px !important;
    text-align: center;
    min-height: 20px !important;
    padding: 0 0 0 2px !important;
  }

  .mat-mdc-form-field-icon-suffix, [dir=rtl] .mat-mdc-form-field-icon-prefix {
    padding: 0px 300px 0px 0px !important;
    display: flex;
  }

  .mat-mdc-button:not(:disabled) {
    color: var(--mdc-text-button-label-text-color, inherit);
  }

  .mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: #56C6AD;
  }

  .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after, .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    color: #56C6AD;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}

.info-button {
  margin: 0 35px 0 10px;
}

.info-button:hover {
  color: #56C6AD;
}

.box__plus {
  background-color: #56C6AD;
  width: 19px !important;
  height: 19px !important;
  border-radius: 50% !important;
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
  margin-right: 5px;

}

.box__minus {
  background-color: #C75D30;
  border-radius: 50% !important;
  width: 19px !important;
  height: 19px !important;
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
}

.box__plus:hover {
  border: none;
}

.box__minus:hover {
  border: none;
}

.currency__APR {
  background-color: #56C6AD;
  border-radius: 4px;
  max-width: 60px;
  //max-height: 20px;
  margin: 0 20px;
  //color: #FFFFFF;
  font-size: 12px;
  padding: 3px 5px;
  text-align: center;
}
