<div class=container>
  <header class="header flex">
    <div>
      <button mat-button class="header__button">Lorem 1</button>
    </div>
    <div>
      <button mat-button class="header__button">Lorem 2</button>
    </div>
    <div>
      <button mat-button class="header__button">Lorem 3</button>
    </div>
    <div>
      <button mat-button class="header__button">Lorem 4</button>
    </div>
  </header>
  <main>
    <div class="flex flex-column">
      <div class="box">
        <div class="title">Amount?</div>
        <mat-form-field class="flex">
          <input [(ngModel)]="inputValue" matInput type="number" step="10">
          <button mat-button class="box__plus" matSuffix (click)="plusAmount()">+</button>
          <button mat-button class="box__minus" matSuffix (click)="minusAmount()">-</button>
        </mat-form-field>
      </div>
      <div class="box">
        <div class="title">Currency?</div>
        <mat-form-field>
          <mat-label>Currency</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let curr of currency"
              [value]="curr.value"
            >
              <div class="flex">
                {{curr.viewValue}}
                <div class="currency__APR">APR {{curr.APR | percent}}</div>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="box">
      <div class="title">Period?</div>
      <mat-form-field>
        <mat-label>Period</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let per of period"
            [value]="per.perValue"
          >
            {{per.timePeriod}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </main>
  <div class="flex flex-align-center">
    <div>Lorem ipsum</div>
    <div class="flex flex-align-center">
      <mat-icon
        matTooltip="Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cumque animi mollitia ipsam quae fuga voluptatibus aut quia autem nulla corrupti suscipit quam, rem"
        matTooltipPosition="above"
        matTooltipClass="my-custom-tooltip"
        class="info-button">info
      </mat-icon>
    </div>
    <div>
      <mat-slide-toggle class="mat-slide-toggle"></mat-slide-toggle>
    </div>
    <div class="">Lorem ipsum dolor sit</div>
    <div class="flex flex-align-center">
      <mat-icon
        matTooltip="Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cumque animi mollitia ipsam quae fuga voluptatibus aut quia autem nulla corrupti suscipit quam, rem"
        matTooltipPosition="above"
        matTooltipClass="my-custom-tooltip"
        class="info-button">info
      </mat-icon>
    </div>
  </div>
</div>
