button {
  border: none;
  background: none;
  cursor: pointer;
}

.header {
  margin: 0 0 45px 0;
}

.header__button {
  margin-right: 30px;
  padding: 0;
}

button:hover {
  border-bottom: 2px solid #56C6AD;
  max-width: 100px;
}


.box {
  margin: 14px 0;
}

.title {
  margin-bottom: 12px;
}

.box__select-currency {
  min-width: 547px;
  height: 50px;
  background: #F4F5F6;
  border: none;
  padding: 0;
}

.box__select-period {
  width: 547px;
  height: 50px;
  background: #F4F5F6;
  border: none;
  padding: 0;
}

input {
  width: 547px;
  height: 50px;
  background: #F4F5F6;
  border: none;
  padding: 0;
}


input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.info {
  margin: 0 10px;
  cursor: pointer;
}

.bottom-container {
  margin-left: 20px;
}

::ng-deep {
  .mat-mdc-slide-toggle .mdc-switch {
    width: 62px !important;
    margin-right: 15px;
  }

  .mat-mdc-slide-toggle .mdc-switch .mdc-switch__track {
    height: 32px !important;
    border-radius: 50px !important;
  }

  .mat-mdc-slide-toggle .mdc-switch .mdc-switch__ripple {
    height: 0 !important;
    width: 0 !important;
  }

  .mdc-switch--selected .mdc-switch__handle-track {
    transform: translateX(80%) !important;
  }

  .mdc-switch__handle-track {
    transform: translateX(20%) !important;
  }

  .mdc-switch__icons {
    display: none;
  }

  .mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after {
    background: #E0F3EF !important;
  }

  .mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
    background: #56C6AD !important;
  }

  .mdc-tooltip--shown .mdc-tooltip__surface-animation {
    padding: 10px 15px !important;
    min-width: 350px !important;
    background: rgba(40,47,44,0.97) !important;
  }
}

.info-button {
  margin: 0 35px 0 10px;
}

.info-button:hover {
  color: #56C6AD;
}

