.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.container {
  //margin: 0 auto;
  //width: 90%;
  padding: 40px 45px;
}
